{% extends 'parent/base.html' %}
{% load static %}
{% block title %} post_list {% endblock %}
{% block content %}
    <form method="post" class="form">
{#        {% csrf_token %}#}
{#        {{ form.as_table }}#}
{#        <input type="submit" value="Submit">#}
        <input class="form-control" type="text" {% if form.full_name.value %} value="{{ form.full_name.value }}"{% endif %} name="fullname" placeholder="نام و نام خانوادگی ...">
        <select name="subject">
            <option value="گزارش">گزارش</option>
            <option value="پیشنهاد">پیشنهاد</option>
            <option value="انتقاد">انتقاد</option>
        </select>
        <textarea name="message" cols="30" rows="10">
            {% if form.message.value %}
            	{{ form.message.value }}
            {% endif %}
        </textarea>
        <input class="form-control" type="email" name="email" {% if form.email.value %}value="{{ form.email.value }}" {% endif %} placeholder="خود را وارد کنید ..ایمیل ">
        <input class="form-control" type="text" name="phone" {% if form.phone.value %}value="{{ form.phone.value }}" {% endif %} placeholder="راه خود را وارد کنید ..شماره هم">
        <input class="form-control" type="submit" value="Submit">
    </form>
    <div>
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    </div>
    <div class="">
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                	{% for error in field.errors %}
                        <p>{{ field.label }} : {{ error }}</p>
                	{% endfor %}
                {% endif %} 
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}