{% extends 'parent/base.html' %}
{% load static %}
{% block title %} post_list {% endblock %}
{% block content %}
   {% for post in page_obj %}
   	    <div>
            <a href="{{ post.get_absolute_url }}">
                <h1>{{ post.title }}</h1>
                <p>{{ post.description | linebreaks | truncatewords:6 }}</p>
{#                <p>{{ forloop.counter0 }}</p>#}
            </a>
        </div>
   {% endfor %}
   {% include 'partials/paginations.html' with page = page_obj %}
{% endblock %}